<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Tech News Daily</h1>
      <p class="lead text-muted">Provided to you with &#10084; by <a href="https://nicods96.github.io/hi/">NicoDs</a>.</p>
      <p class="lead text-muted">Read more about it on <a href="https://nicods96.github.io/hi/">GitHub</a>.</p>
    </div>
  </div>
</section>
<app-paging></app-paging>
<app-list></app-list>
<app-paging></app-paging>