<div class="card-container">

  <mat-progress-bar mode="indeterminate" *ngIf="this.feedList.length == 0"></mat-progress-bar>

  <div *ngIf="this.feedList.length == 0">
    <mat-card class="article-card-placeholder" *ngFor="let feed of [1,2,3,4,5,6]">
      <mat-card-header>
        <mat-card-title class="title-placeholder"></mat-card-title>
        <mat-card-subtitle class="subtitle-placeholder"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="text-placeholder">
      </mat-card-content>
    </mat-card>
  </div>
  

  <mat-card class="article-card" *ngFor="let feed of feedList" (click)="goToArticle(feed.link)">
    <mat-card-header>
      <mat-card-title>{{feed.title}}</mat-card-title>
      <mat-card-subtitle>{{feed.authors}}</mat-card-subtitle>
      <mat-card-subtitle>{{feed.src}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ feed.categories.replaceAll(';', ', ') }}</p>
      <mat-divider></mat-divider>
      <p>Published: {{feed.date}}</p>
      <p>Updated: {{feed.updateDate == null? '-':feed.updateDate}} </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
    <!-- <mat-card-footer>
    </mat-card-footer> -->
  </mat-card>
</div>
