<div class="container">
  <div class="row justify-content-center py-1" *ngFor="let feed of feedList">
      <div class="col-sm-12 col-md-8">
        <div class="card" (click)="goToArticle(feed.link)">
          <div class="card-body">            
            <h4 class="card-title">{{feed.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{feed.authors}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{feed.src}}</h6>
            <div class="justify-content-start">
              <div  class="btn btn-outline-info" style="margin-right:0.5rem;margin-top:0.3rem" *ngFor="let c of feed.categories.split(';')"> {{c}} </div>
            </div>
            <div class="d-flex justify-content-between" style="margin-top: 1rem;">
              <h6 class="card-subtitle mb-2 text-muted">Published: {{feed.date}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Updated: {{feed.updateDate == null? '-':feed.updateDate}}</h6>
            </div>   
          </div>
        </div>
      </div>
  </div>
</div>
