@media (max-width: 500px) {
  .article-card {
    max-width: 300px;
    margin-bottom: 15px;
  }
}
@media (min-width: 500px) {
  .article-card {
    width: 400px;
    margin-bottom: 15px;
  }
}

/* GENERICS */

/*
CARD PLACEHOLDER DISPLAYED WHILE LOADING ACTUAL DATA
*/
.article-card-placeholder{
  opacity: .5;
}
.article-card-placeholder, .article-card {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: stretch;
}

.title-placeholder {
  min-height: 15px;
  min-width: 200px;
  background-color: #555;
}

.subtitle-placeholder {
  min-height: 5px;
  min-width: 250px;
  background-color: rgb(121, 121, 121);
  margin-top: 6px
}

.text-placeholder{
  min-height: 100px;
  min-width: 250;
  background-color: #555;
  margin-left: 15px;
  margin-right: 15px;
  ;
}

/*
OTHER
*/
@media (min-width: 800px) {
  .placeholder-container, .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: stretch;
  }

  .article-card-placeholder, .article-card {
    min-height: 200px;
    max-width: 500px;
    min-width: 400px;
    margin-bottom: 15px;
    margin-inline: 20px;
  }
}
/*
MOBILE
*/
@media (max-width: 800px) {
  .placeholder-container, .card-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .article-card-placeholder {
    min-height: 200px;
    max-width: 400px;
    min-width: 350px;
    margin-bottom: 15px;
  }
  .article-card {
    min-height: 200px;
    max-width: 300px;
    min-width: 200px;
    margin-bottom: 15px;
  }
}